@model IEnumerable<Capstone_.Models.Event> 

@{
    ViewBag.Title = "InviteHostedEvents";
}

<h2>Hosted Events</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th></th>
    </tr>
    @*@foreach (Capstone_.Models.PersonalUser item in Model.Item2)*@
    @*@foreach(var item in ViewBag.PersonalUsers)
        {*@
    @*@foreach (Capstone_.Models.Event hostedEvent in item.HostedEvents)*@
    @foreach (var hostedEvent in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => hostedEvent.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => hostedEvent.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => hostedEvent.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => hostedEvent.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => hostedEvent.EndTime)
            </td>
            <td>
                @Html.ActionLink("Invite", "Invite", "Events", new { item = hostedEvent.Id })
            </td>
        </tr>
    }
    }
</table>