@model IEnumerable<Capstone_.Models.Event>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    if (item.IsPublic || User.IsInRole("Admin"))
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
    }
}

</table>

@*<body onload="initialize()">
    <div>
        <input id="address" type="text" value="Sydney, NSW">
        <input type="button" value="Geocode" onclick="codeAddress()">
    </div>
    <div id="map-canvas" style="height:90%;top:30px"></div>
</body>
<script>
    var geocoder;
    var map;
    function initialize() {
        geocoder = new google.maps.Geocoder();
        var latlng = new google.maps.LatLng(-34.397, 150.644);
        var mapOptions = {
            zoom: 8,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    }

    function codeAddress() {
        var address = document.getElementById('address').value;
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
</script>*@
@*@{List<string> urls = new List<string>();
    List<string> addresses = new List<string>();
    foreach (var item in Model)
    {
        var geocoder = new GoogleDirections.Geocoder("AIzaSyDNRMFv2YIYRFyNP9nWbsz - z6JYYd - oxwo");
        string itemLocation = item.Location;
        var locations = geocoder.Geocode(itemLocation);

        //var url = ("https://maps.googleapis.com/maps/api/geocode/json?address=" + itemLocation + "&key=AIzaSyBgT7_fsm3Isp67sXF9nHepRxaO4fYyJYQ");
        ////for (int i = 0; i < urls.Count; i++)
        //{
        //    if (url == urls[i])
        //    {
        //        goto OUTERCONTINUE;
        //    }
        //}
        //for(int i = 0; i < addresses.Count; i++)
        //{
        //    if(itemLocation == addresses[i])
        //    {
        //        goto OUTERCONTINUE;
        //    }
        //}
        if (item.IsPublic | User.IsInRole("Admin"))
        { urls.Add(url); }
        //if (item.IsPublic | User.IsInRole("Admin"))
        //{
        //    addresses.Add(itemLocation);
        //}
        OUTERCONTINUE: continue;
    }
}*@
<head>
    <style>
        #map {
            height: 500px;
            width: 800px;
        }
    </style>
</head>
<body>
    <center><h2>Events</h2></center>
        <center>
            <div id="map"></div>
        </center>
        <script>
            var map;
            function initMap() {
                var Milwaukee = { lat: 43.0389, lng: -87.9065 };
                var map = new google.maps.Map(document.getElementById('map'), { zoom: 10, center: Milwaukee });
                var position = { lat: 43.059665, lng: -87.885602 };
                var marker = new google.maps.Marker({ position: new google.maps.LatLng(43.059665, -87.885602), map: map, title: null });
            }
                @*@{ List<GoogleDirections.LatLng> Markers = new List<GoogleDirections.LatLng>();
                    foreach (var item in Model)
                    {
                        var geocoder = new GoogleDirections.Geocoder("AIzaSyDNRMFv2YIYRFyNP9nWbsz - z6JYYd - oxwo");
                        var locations = geocoder.Geocode(item.Location);


                        var latlng = locations.First().LatLng;
                        Markers.Add(latlng);
                    }

                }*@
                //for (i = 0; i < Markers.Length; i++) {

                //    var marker = new google.maps.Marker({
                //        position: Markers[i],
                //        map: map,
                //        title: null
                //    });
                //}

                // To add the marker to the map, call setMap();
                //marker.setMap(map);

        </script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNRMFv2YIYRFyNP9nWbsz-z6JYYd-oxwo&callback=initMap" >
        </script>
</body>

